
// Start of the question styles
fieldset {
    padding: 30px 0;
}

fieldset p {
    padding: 20px 0;
    font-weight: bold;
}

.questionOption {
    display: flex;
    padding: 10px 0;
        label {
            padding-left: 10px;
        }
}

.questionGroup {
    
    // background-image: url(../assets/plantIcon.svg);
    // background-repeat: no-repeat;
    // background-position: right;
    background:linear-gradient(-10deg, $secondary 70%, #fff 30%);
}

// Start of the button styling
.bottomContainer,
.takeQuizAgain {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

button {
    background-color: $main;
    color: #fff;
    border: 1px solid $main;
    padding: 10px 30px;
    border-radius: 5px;
}

.takeQuizAgain {
    padding-bottom: 50px;
}

// Shine effect on the take quiz again button
.takeQuizAgain button {
    position: relative;
}

.takeQuizAgain button:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgba(255,255,255,0.4);
}

.takeQuizAgain button:hover:after {
    width: 120%;
    background-color: rgba(255,255,255,0);
    transition: all 0.4s ease-in-out;
    
}


