// Lineary gradient styling on the questions
.questions {
    background:linear-gradient(-10deg, $secondary 75%, #fff 25%);
}

// Start of the question styles
fieldset {
    padding-top: 30px;
}

fieldset p {
    padding: 20px 0;
    font-weight: bold;
}

.questionOption {
    display: flex;
    padding: 10px 0;
        label {
            padding-left: 10px;
        }
}

// Start of the button styling
button {
    background-color: $main;
    color: #fff;
    border: 2px solid $main;
    padding: 10px 30px;
    border-radius: 5px;
}

.bottomContainer,
.takeQuizAgain {
    display: flex;
    justify-content: center;
    padding: 50px 0 50px 0;
}

.bottomContainer button:hover {
    border: 2px solid #fff;
}

.takeQuizAgain {
    padding-bottom: 50px;
}

// Shine effect on the take quiz again button
.takeQuizAgain button {
    animation-name: shineAnimation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.12,.89,.98,.47);
}

@keyframes shineAnimation {
    from {
        background-repeat:no-repeat;
        background-image:linear-gradient(
            top left,
            rgba(255, 255, 255, 0.0) 0%,
            rgba(255, 255, 255, 0.0) 45%,
            rgba(255, 255, 255, 0.4) 48%,
            rgba(255, 255, 255, 0.7) 50%,
            rgba(255, 255, 255, 0.4) 52%,
            rgba(255, 255, 255, 0.0) 57%,
            rgba(255, 255, 255, 0.0) 100%
        );
        background-position:-500px -500px;
        background-size: 600px 600px
    }
    to {
        background-repeat:no-repeat;
        background-position:500px 500px;
    }
}

// Hover effect for the take quiz again button only
.takeQuizAgain button:hover {
    background-color: $secondary;
    color: $main;
    border: 2px solid $main;
}


